.vscode/**
.vscode-test/**

# Only bundle main.js
out/**
!out/main.js

# Don't bundle dev only files
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Don't bundle node_modules
node_modules/**
